/* @override 
	http://nextstepacademydev.com.v3.cloudsites.gearhost.com/portals/_default/skins/foundation/skin.css?cdv=23 */

@charset "UTF-8";

/* @group Header */
	header {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#DNNlogo a {
		display: inline-block;
	}
	/* @group Search Box */
		.foundation-search {
			margin-top: 15px;
		}
		.foundation-search .searchInputContainer{
			display: block !important;
			width: 100%;
			float: left;
			margin-right: -92px !important;
			position: relative;
			z-index: 2;
		}
		/* Search Box */
		.foundation-search #dnn_dnnSearch_txtSearch {
			margin-bottom: 0;
			width: 100%;
			padding-right: 66px;
		}
		/* Search Button */
		.foundation-search #dnn_dnnSearch_cmdSearch {
			display: block;
			width: 38px;
			height: 37px;
			float: right;
			position: relative;
			z-index: 3;
			color: #ffffff;
			background-color: #188cb9;
			font-size: 17px;
			line-height: 37px;
			text-align: center;
			overflow: hidden;
		}
		.fi-search:before { content: "\f16c"; }
		.fi-search:before {
			font: 21px "foundation-icons";
			font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 38px;
		  -webkit-font-smoothing: antialiased;
		  display: block;
		  text-decoration: inherit;
		}
		/* Search Clear Button */
		.foundation-search a.dnnSearchBoxClearText.dnnShow {
			margin-top: -26px;
			margin-bottom: 0;
			margin-right: 36px;
		}
		/* Search Results */
		.foundation-search ul.searchSkinObjectPreview {
			border-top-style: none;
			-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.29);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.29);
			border-style: none;
			width: 100%;
			z-index: 1;
		}
		.foundation-search li.searchSkinObjectPreview_group {
			border-top-style: none;
			background-color: #188cb8 !important;
			color: #ffffff !important;
			font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
			font-weight:300 !important;
			font-style:normal !important;
			text-rendering:optimizeLegibility;
			line-height:1.4;
			border-bottom: none !important;
		}	
	/* @end */
/* @end */


footer * {
	font-size: 12px;
	color: #8a8a8a;
}

/* @group Off Canvas Navigation */
	.offcanvas-dropdown {
		margin-left: 0;
	}
	.offcanvas-dropdown {
		text-indent: 15px;
		font-size: 14px;
	}
	.offcanvas-dropdown .offcanvas-dropdown {
		text-indent: 30px;
	}
	.off-canvas-list li.active {
		background-color: #222222;
	}
	.off-canvas-list li.active li {
		background-color: #323332;
	}
/* @end */


/* Small screens*/
/* Define mobile styles */
@media only screen { } 

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) { 
	.foundation-search ul.searchSkinObjectPreview {
		width: 100%;
		-moz-box-shadow: none;
		box-shadow: none;
		border-style: solid;
		border-width: 1px;
		border-top-style: none;
	}
	footer {
		text-align: center;
	}
	footer .right {
		text-align: center;
		width: 100%;
		padding-top: 10px;
	}
}

/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }

/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { }

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }

/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { }

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }

/* XXLarge screens*/
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) { }




/* @group DNN Admin CSS */

	/* @group DNN Panel Styling */
		form .dnn_mact li {
			top: -51px;
			right: -15px;
		}
		.eipbackimg {
			display: block !important;
			margin-left: -50px;
		}
		/* Display Admin Panel Blocks */
		.dnn-panel.dnnSortable {
			border: 1px dashed #e3e3e3;
			padding: 10px;
			width: 100%;
			margin-bottom: 10px;
		}
		.dnn-panel.dnnSortable:hover {
			border: 1px dashed #444444;
		}
		.dnn-panel.dnnSortable.DNNEmptyPane {
			min-height: 15px !important;
			padding: 6px 10px !important;
			text-align: center;
			background-color: #f5f5f5;
			border-style: none;
		}
		.dnn-panel.dnnSortable.DNNEmptyPane:hover {
			border: none;
		}
		.dnn-panel.dnnSortable.DNNEmptyPane:before {
			font-size: 12px;
			color: #a6a6a6;
			line-height: 16px;
		}
		#dnn_Offcanvas.dnnSortable.DNNEmptyPane {
			width: 100%;
			min-height: 15px !important;
			padding: 6px 10px !important;
			text-align: center;
			border-style: none;
			background-color: #434343;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 12px;
			color: #808080;
		}
		/* @group Appends text to empty panels */
			#dnn_Row1_12.dnnSortable.DNNEmptyPane:before {
				content: "Row 1 - 12 Columns";
			}
			#dnn_Row2_12.dnnSortable.DNNEmptyPane:before {
				content: "Row 2 - 12 Columns";
			}
			#dnn_ContentPane.dnnSortable.DNNEmptyPane:before {
				content: "Content Pane";
			}
			#dnn_ContentSidebar.dnnSortable.DNNEmptyPane:before {
				content: "Content Sidebar";
			}
			#dnn_Row4_4x.dnnSortable.DNNEmptyPane:before {
				content: "Row 4 - 4 Columns";
			}
			#dnn_Row4_x8.dnnSortable.DNNEmptyPane:before {
				content: "Row 4 - 8 Columns";
			}
			#dnn_Row5_6x.dnnSortable.DNNEmptyPane:before, #dnn_Row5_x6.dnnSortable.DNNEmptyPane:before {
				content: "Row 5 - 6 Columns";
			}
			#dnn_Row6_4xx.dnnSortable.DNNEmptyPane:before, #dnn_Row6_x4x.dnnSortable.DNNEmptyPane:before, #dnn_Row6_xx4.dnnSortable.DNNEmptyPane:before {
				content: "Row 6 - 4 Columns";
			}
			#dnn_Row7_3xxx.dnnSortable.DNNEmptyPane:before, #dnn_Row7_x3xx.dnnSortable.DNNEmptyPane:before, #dnn_Row7_xx3x.dnnSortable.DNNEmptyPane:before, #dnn_Row7_xxx3.dnnSortable.DNNEmptyPane:before {
				content: "Row 7 - 3 Columns";
			}
			#dnn_Row8_12.dnnSortable.DNNEmptyPane:before {
				content: "Row 8 - 12 Columns";
			}
			#dnn_Row9_12.dnnSortable.DNNEmptyPane:before {
				content: "Row 9 - 12 Columns";
			}
			#dnn_Offcanvas.dnnSortable.DNNEmptyPane:before {
				content: "Row 9 - 12 Columns";
			}
			
			
		/* @end */
	
	/* @end */
	
	/* Fixes the DNN modal close button */
	#Body .ui-button.ui-widget.ui-dialog-titlebar-close {
		width: 27px !important;
		padding: 0;
	}
	
	body.Admin #ns-tool-bar, body.Admin #left-content, body.Admin #right-sidebar {
		top: 35px !important;
	}
	.megaborder{
	    -webkit-box-sizing: padding-box !important; 
	    -moz-box-sizing: padding-box !important; 
	    box-sizing: padding-box !important; 
	}
	#dnnCPWrap * {
		-webkit-box-sizing: content-box !important; 
		-moz-box-sizing: content-box !important; 
		box-sizing: content-box !important;
	}
	#dnnCPWrap input[type="text"] { 
		margin: 0; 
		padding: 8px; 
		height: auto; 
	}
	#dnnCPWrap table {
		margin-bottom: 0;
	}
	div.jspPane {
		width: 100% !important; 
	}
	div.jspPane li {
		min-height: 32px !important;
	}
	ul.rcbList {
		background-color: #ffffff;
		border: 1px solid #c9c9c9;
	}
	ul.rcbList li {
		font-size: 12px;
		padding: 4px;
		border-bottom: 1px solid #edeeed;
	}
	ul.rcbList li:hover {
		background-color: #f5f5f5;
	}
	ul.rcbList li img {
		width: 18px;
		margin-right: 5px;
	}
	.rcbWidth {
		max-height: 200px;
		overflow-y: scroll;
	}
/* @end */